h1 {
  color: green;
  text-align: center;
  font-size: 60px;
  font-family: helvetica;
  font-weight: bold;
}

h2 {
  color: blue;
  text-align: center;
  font-size: 40px;
  font-family: helvetica;
}

p {
  color: #6B6767;
  text-align: left;
  font-size: 30px;
  font-family: helvetica;
}

ul {
  color: #9C636D;
  text-align: right;
  font-size: 20px;
  font-family: helvetica;
}

